body {
  font-family: 'Dosis', sans-serif;
  background-image: 
    url(/images/gaming.jpg);
  color: azure;
}

a {
  color:chartreuse;
}

li {
  margin-bottom: 20px;
}

.everything {
  max-width: 800px;
  margin: 0 auto;
}

.siwg-link {
  float: right;
}