body {
  font-family: 'Dosis', sans-serif;
  background-image: 
    url(/images/gaming.jpg);
  color: azure;
}

a {
  color:chartreuse;
}

li {
  margin-bottom: 20px;
}

button {
  background-color: black;
  color: chartreuse;
  border-radius: 30px;
}

input {
  background-color: black;
  color: rgb(8, 194, 129)
}

.everything {
  max-width: 800px;
  margin: 0 auto;
}

.siwg-link {
  float: right;
}

.warning {
  background-color: crimson;
  color: darkkhaki;
}